{% extends 'layout.html' %}

{% block content %}
<div class="login">
  <h1>LOGIN</h1>
  <div class="link">
    <a href="{{ url_for('login') }}" class="active">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
  </div>
  <form action="{{ url_for('login') }}" method="post">
    <label for="username">
      <i class="fas fa-user"></i>
    </label>
    <input type="text" name="username" placeholder="Username" id="username" required>
    <div class="msg">{{ msg }}</div>
    <input type="submit" value="Login">
  </form>
</div>
{% endblock %}
<label for="brand">Shop by brand:</label>

<select name="itemType" id="itemType">
  <option value="aerie">Aerie by American Eagle</option>
  <option value="Single wick candle">Candles</option>
  <option value="Athletic shoes">Athletic shoes</option>
  <option value="Glasses">Glasses</option>
  <option value="Gloves">Gloves</option>
  <option value="Video game">Video games</option>
</select>

<div>
  {% for n in data %}
  <div>{{n}}</div>
  {% endfor %}
</div>

  <!-- <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="another">Go to the other page</a></p> 

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>-->

</body>


</html>
