{% extends 'layout.html' %}

{% block content %}

<div class="item-container">
  <div class="item-row-1">
    <div class="prod-img">
      <img src="{{url_for('static', filename='/images/' + data[0])}}" align="middle"/>
    </div>

    <div class='item-info'>

      <div class='item-seller'>
        {{data[10]}} <!--Seller name-->
      </div>

      <div class='item-name'>
        {{data[1]}} <!--Product name-->
      </div>

      {% if data[2] %}
      <div class='item-color'>
        {{data[2]}} <!--Product color-->
      </div>
      {% endif %}

      {% if data[3] %}
      <div class='item-price'>
        ${{data[3]}} <!--Product price-->
      </div><br/>
      {% endif %}

      {% if data[7] %}
      <div class='item-size'>
        Size: {{data[7]}} <!--Product price-->
      </div><br/>
      {% endif %}

      {% if data[4] %}
      <div class='item-desc'>
        {{data[4]}} <!--Product description-->
      </div>
      {% endif %}

      {% if session['loggedin'] == True %}
      <div class="add-to-cart-section">
        <form method="POST" action="/addtocart">
          Quantity: <select name="cart-quantity">
            <option name="add-to-cart-quantity" value=1>1</option>
            <option name="add-to-cart-quantity" value=2>2</option>
            <option name="add-to-cart-quantity" value=3>3</option>
            <option name="add-to-cart-quantity" value=4>4</option>
            <option name="add-to-cart-quantity" value=5>5</option>
          </select>
          <button name="add-to-cart" class="add-to-cart" value={{data[0]}}>Add to cart</button>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="review-section">
    {% if reviews %}
    {% set avg = average[0] | round %}
    <h3>User rating: {{avg}}%</h3>
    {% for n in reviews %}
      <div class="review">{{n.name}} 
        {% if n.review_type=='thumbs up' %}
          <i class="fas fa-thumbs-up"></i>
        {% elif n.review_type == 'thumbs down' %}
          <i class="fas fa-thumbs-down"></i>
        {% endif %}
        {% if photos %}
          {% for p in photos %}
          {% if p.review_id == n.review_id %}Photo number: {{p.photo_id}}{% endif %}
          {% endfor %}
        {% endif %}
        {% if n.user_id == session['user_id'] %}
          <form method="POST" action="/removereview" class="removereview">
            <button name="removereview" value={{n.review_id}}>Remove</button>
          </form>
        {% endif %}
      </div>
    {% endfor %}
    {% endif %}

    {% if session['loggedin'] == True %}
    
    <form method="POST" action="/addreview">
      <div class="add-review-section">
        <button class="add-review">How did you like this product?</button>
        <div class="review-buttons">
          <button name="add-review" value="thumbs up"><i class="fas fa-thumbs-up choice"></i></button>
          <button name="add-review" value="thumbs down"><i class="fas fa-thumbs-down choice"></i></button>
        </div>
      </div> 
    </form>
    
    {% endif %}
  </div>
</div>

{% endblock %}